

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<%= link_to 'Edit', edit_category_path(@category), :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', categories_path, :class => 'btn btn-default btn-sm' %>
