<p id="notice"><%= notice %></p>
<br>
<br>
<h1>Documents</h1>

<%= render 'index_list', documents: @documents %>

<br>

<%= link_to 'New Document', new_document_path, :class => 'btn btn-default btn-sm' %>