<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<br>
<br>
<h1>My Documents</h1>

<%= render 'index_list', documents: @documents %>

<br>

<%= link_to 'New Document', new_document_path, :class => 'btn btn-default btn-sm' %>