<h1>Editing Document</h1>

<%= render 'form', document: @document %>

<%= link_to 'Show', @document, :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', documents_path, :class => 'btn btn-danger btn-sm' %>
