html {
    background-color: #1b1b1b;
    color: #d9d9d9;
}

.navbar-brand{
    font-size: 29px;
}

.navbar-holder li {
    float: left;
    display: block;
    color: #F7F7F7;
    padding: 7px 14px;
    font-size: 15px;
    border: 1px solid ivory;
}

.navbar-profile{
    float:right;
}
.navbar-nav{
    float:left;
}

.nav-item-profile{
    background-color: #999999;
}
.nav-item-profile-button{
    background-color: #999999;
}
.nav-item-profile-button:hover{
     background-color: #664747;
 }

.nav-item {
    background-color: #666666;
}
.nav-item:hover{
background-color: #664747;
}

.navbar-toggler{
    min-width: 30px;
    min-height: 10px;
}

.container-fluid{
    margin:10px;
}

.text-container{
    border: grey 3px solid;
    background-color: ghostwhite;
    color: black;
    padding: 10px;
    margin: 10px;
}

#notice, .alert{
    float: right;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    text-align: left;
    padding: 8px;
}

td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:nth-child(even){
    background-color: #2E2F30;
}

th {
    background-color: #666666;
}

.field{
    padding: 8px;
}

textarea{
    padding: 8px;
    width: 90%;
    min-height: 400px;
}

body {
    background-color: #242526;
}

a:link{
    color: #dadada;
}

a:visited{
    color: #a0d4e5;
}