@import "bootstrap-sprockets";
@import "bootstrap";
@import "*";

html {
  background-color: #cecece;
  color: #d9d9d9;
}

.btn-toolbar{
  background-color: #aaaaaa;
}

.btn-default{
  background-color: #9da1a4;
}

.btn-default:hover{
  color: ivory;
}

.navbar-brand{
  border: 1px solid ivory;
  background-color: #aeaeae;
  padding: 1%;
}

.btn:not(.glyphicon){
  border: 1px solid ivory;
}

.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

#nav-content li {
  float: left;
  display: block;
  color: #F7F7F7;
  font-size: 15px;
  border: 1px solid ivory;
}

.navigation{
  display: inline;
}
/*
.nav-button{
  background-color: #999999;
}
*/
.profile{
  display: inline;
  padding-left: 35px;
  padding-right: 5px;
}

.profile-show{
  background-color: #999999;
}

.profile-button{
  background-color: #999999;
}

.search-bar{
  padding-left: 1%;
}

.container-fluid{
  margin:5px;
}

.text-container,.text-preview{
  border: grey 1px solid;
  background-color: ghostwhite;
  padding: 0;
  margin: 0;
}

.document-preview{
  display: flex;
  max-height: 400px;
}

.text-document{
  min-width: 50%;
  flex: 1;
}

.preview-document{
  min-width: 50%;
  overflow: auto;
  border: grey 1px solid;
  background-color: #f8ffff;
  padding: 0;
  margin-left: 4px;
  flex: 2;
}

#notice, .alert{
  float: right;
}

h1, h2{
  text-align: left;
}

.table-buttons{
  max-width: 180px;
}

.table-categories{
  max-width: 450px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td{
  text-align: left;
}

td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-content,.text-categories{
  max-width: 180px;
}

tr:nth-child(even){
  background-color: #d7dbe1;
}

th {
  background-color: #afafaf;
}

.field{
  padding: 4px;
}

textarea{
  padding: 4px;
  width: 100%;
  min-height: 400px;
}

body {
  background-color: #bdc2c7;
}

a:link{
  color: #272727;
}

a:hover{
  color: #f0f0f0;
}

a:visited{
  color: #6e0002;
}

.comment-block{
  background-color: white;
  border: 1px solid black;
  font-size: small;
  max-width: 86%;
}

.suggestion-block{
  background-color: lightgray;
  border: 1px solid black;
  font-size: medium;
  max-width: 90%;
  min-height: 100px;
}