<h1>Editing Suggestion</h1>

<%= render 'form', suggestion: @suggestion %>

<%= link_to 'Show', [@document, @suggestion] , :class => 'btn btn-default btn-sm'%> |
<%= link_to 'Back', document_suggestions_path , :class => 'btn btn-danger btn-sm'%>
